# -*- coding: utf-8 -*-
# vim: ft=yaml
---
podman:
  lookup:
    master: template-master
    # Just for testing purposes
    winner: lookup
    added_in_lookup: lookup_value

  pkg:
    name: podman
  bin: /usr/bin/podman
  rootgroup: root
  homedir_prefix: /opt/containers
  default_shell: /sbin/nologin

  containers:
    prometheus-server:
      user:
        name: prometheus
        groups:
          - dialout

      image: "docker.io/prom/prometheus:v2.6.0"
      args:
        - '--config.file=/prometheus/prometheus.yml'
        - '--storage.tsdb.retention=15d'
      remove_on_stop: true
      runoptions:
        - '--net="host"'
        - '-v /opt/docker/prometheus:/prometheus:z'
      stopoptions:
        - '-t 10'
      timeout_start_sec: 300

  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
    # All aspects of path/file resolution are customisable using the options below.
    # This is unnecessary in most cases; there are sensible defaults.
    # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
    #         I.e.: salt://podman/files/default
    # path_prefix: template_alt
    # dirs:
    #   files: files_alt
    #   default: default_alt
    # The entries under `source_files` are prepended to the default source files
    # given for the state
    # source_files:
    #   podman-config-file-file-managed:
    #     - 'example_alt.tmpl'
    #     - 'example_alt.tmpl.jinja'

    # For testing purposes
    source_files:
      podman-config-file-file-managed:
        - 'example.tmpl.jinja'

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
