{#- Ugly, but covers the cases where variable evaluates to false, is empty, or non-existent #}
{%- set runoptions = container.get("runoptions", []) %}
{%- set stopoptions = container.get("stopoptions", []) %}
{%- set cmd = container.get("cmd", "") %}
{%- set args = container.get("args", []) -%}

{%- set runoptions = runoptions|join(' ') %}
{%- set stopoptions = stopoptions|join(' ') %}
{%- set args = args|join(' ') -%}
{%- set userns = "" %}
{%- if container.get("userns", False) %}
{%- set user_info = salt.user.info(container.user.name) %}
{%- set userns = "--user=%s --userns=keep-id"|format(user_info.uid) %}
{%- endif %}
{%- set def_timeout_start_sec = container.timeout_start_sec is defined %}

{%- set podman_start_command = "run %s %s --name=%s %s %s %s"|format(runoptions, userns, name, container.image, cmd, args) %}
{%- set podman_stop_command = "stop %s %s"|format(stopoptions, name) %}
{%- set podman_poststop_command = "rm -f %s"|format(name) -%}
[Unit]
Description=Systemd service for container {{ name }}

{%- set remove_on_stop = container.get("remove_on_stop", False) %}
{%- set pull_before_start = container.get("pull_before_start", False) %}

[Service]
Restart=always
RestartSec=30
{%- if def_timeout_start_sec %}
TimeoutStartSec={{ container.timeout_start_sec }}
{%- endif %}

{%- if pull_before_start %}
ExecStartPre={{ podman_bin }} pull {{ container.image }}
{%- endif %}

ExecStart={{ podman_bin }} {{ podman_start_command }}
ExecStop={{ podman_bin }} {{ podman_stop_command }}
{%- if remove_on_stop %}
ExecStopPost={{ podman_bin }} {{ podman_poststop_command }}
{%- endif %}

User={{ container.user.name }}
Group={{ container.user.name }}

[Install]
WantedBy=multi-user.target
